/* @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  
  .animate-bounce-slow {
    animation: bounce-slow 1.8s infinite ease-in-out;
  } */


a.active  {
    color: #1da597;
}
.button a.active{
    background: #2e4a33;
    color: white;
}